body,h1{ margin: 0; padding: 0;}

.top_title{ height:60px; background-color: #91D4DA;}
.go-back{ line-height: 60px;}
.main_title h1{ line-height: 60px; color: #fff;}
.font_goback{ font-size: 20px;}
.glyphicon-menu-left,.font_goback{ color: #fff;}

.nav_banner{ height: 60px; margin-left: -15px; margin-right: -15px;}
.nav_title{ float: left; width: 20%; height: 100%;}
.nav_title_top{ height: 56px; background-color: #fff; text-align: center;}
.nav_title_top span{ font-size: 18px; line-height: 56px;}
.nav_title:hover>.nav_title_bottom{ background-color: #91D4DA;}
.nav_title_bottom{ height: 4px; background-color: #fff;}

.img_picture{ padding-left: 0; padding-right: 0;}
.img_picture img{ width: 100%;}

.middle_content{ margin-right: -15px; margin-left: -15px;}

.label_nav{ height: 115px; width: 100%; border-bottom: 1px solid #DEDEDE; padding-right: 15px; padding-left: 15px;}
.label_div{ float: left; width: 20%; height: 100%;}

.columns_nav{ height: 150px; width: 100%; padding-right: 15px; padding-left: 15px;}
.columns_div{ height: 100%; width: 33%; float: left;}

.modela_content,.modelb_content,.modelc_content{ padding-left: 15px; padding-right: 15px;}
.modelc_content{ margin-bottom: 10px;}
.nav_modela{ height: 100%; padding-right: 10px; margin-bottom: 10px;}

.topright,.bottomright{ height: 46px; text-align: center;}
.topright span,.bottomright span{ line-height: 46px;}
.modelimg{ width: 100%;}
.font_div_tl,.font_div_tr,.font_div_bl,.font_div_br{ background-color: #F8F8F8;}
.font_div_tl,.font_div_tr{ margin-bottom: 5px;}
.font_div_bl,.font_div_br{ margin-top: 5px;}
.topright .col-xs-6,.bottomright .col-xs-6{ padding-left: 5px; padding-right: 5px;}

.nav_modelc{ height: 115px;}
.nav_modelc img{ height: 115px;}
.font_title{font-size: 22px;}