table{ width: 300px; }
thead tr{ text-align: left; background-color: #000; color: #fff;}
table tbody tr:nth-child(odd){ background-color: #fff; }
table tbody tr:nth-child(even){ background-color: #ccc; }

.test_input{ height: 20px; width: 100px; margin-top: 50px; margin-left: 30px;}
.test_input:focus{ width: 200px; }