body,h1,h2,h3,h4,h5,h6,input,p{ margin: 0; padding: 0; }

/*top*/
.top{ height: 57px; width: 100%; background-color: #2189bf;}
.logo{ margin-top: 10px; margin-left: 50px;}
.top_right{ float: right; margin-right: 50px; position: relative;}
.search{ margin-top: 15px; vertical-align: bottom;}
.login{ margin-left: 10px; cursor: pointer;}
.search_input{ height: 26px; border: none; position: absolute; bottom: 1px; left: 45px; width: 260px;}

.content{ width: 1280px; margin: 0 auto; }
.left_content{ width: 260px; float: left;}
.right_content{ width: 1020px; float: left;}

.own_info{ height: 150px; width: 100%; background-color: #2a2e3d;}
.personal_bb{ height: 190px; width: 100%; background-color: #383d4e;}

.right_contbanner{ height: 30px; width: 100%; }